* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(10, 6, 6);
}
.site-header {
    height: auto;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1.2px solid black;
    border-radius: 5px;
    position: sticky;
    top: 0;
    z-index: 1;
}
hr {
    width: 80%;
}
.logo {
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 1.7rem;
    text-decoration: none;
    padding: 0.5em 0;
}
.nav-link {
    color: white;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
}
.navbar {
    display: flex;
    flex-direction: row;
}
.nav-link:hover {
    opacity: 0.2;
    transform: scale(1.11);
    transition-duration: 0.5s;
}
#header {
    color: white;
    text-align: center;
    font-size: 1.8rem;
    font-style: oblique;
    font-family: Segoe UI, Sans Serif;
    text-transform: uppercase;
    padding: 1em 1em;
}
.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#contact-me {
    text-align: center;
    color: #ffff;
    font-weight: bold;

}
.profile {
    border: 1px solid black;
    width: 30rem;
    height: auto;
    border-radius: 20%;
}
.profile:hover {
    transform: scale(1.03);
    transition-duration: 0.4s;
    cursor: pointer;
}
#caption {
    color: white;
    text-align: center;
}
.content {
    display: flex;
    flex-direction: column;
    width: 80ch;
    height: auto;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(46, 46, 53);
    color: white;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#location,
#tech,
#prof,
#me {
    color: rgb(255, 255, 255);
    padding: 1em 1em;
}
.fa-address-card,
.fa-briefcase,
.fa-computer,
.fa-location-dot {
    color: black;
}
.content:hover {
    transform: scale(1.03);
    transition-duration: 0.4s;
    cursor: pointer;
}
.my-profile {
    font-weight: bold;
    align-self: flex-start;
}
#my-name {
    padding: 0 1em;
}
.content-meta {
    margin: 2em 1em;
    text-align: center;
    font-weight: bold;
    padding: 0.5em 0.5em;
}
#about {
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.7rem;
    color: black;
    text-decoration: underline;
}
.name {
    color: rgb(161, 161, 224);
}
.skills {
    background-color: rgba(0, 0, 0, 0.235);
    border: 2px solid rgba(0, 0, 0, 0.571);
    border-radius: 20px;
    color: white;
}
#skills {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
}
.btn {
    display: flex;
    position: fixed;
    bottom: 1em;
    left: 1em;
    gap: 1em;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    padding: 15px;
}
.card {
    display: block;
    width: 250px;
    height: 200px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.61);
    padding: 15px;
    place-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.card:hover {
    transform: scale(1.1);
    transition-duration: 0.4s;
    cursor: pointer;
}
.personal {
    background-color: rgb(21, 13, 15);
    border: 3px solid black;
    border-radius: 20px;
    margin: 10px auto 0;
    padding: 10px;
}
#personal-info {
    text-align: center;
    color: white;
    text-decoration: underline;
}
.info {
    color: white;
    text-align: center;
    padding: 10px;
}
.meta {
    margin: 10px;
}
.meta-header {
    text-align: center;
    color: white;
    font-size: 1.6rem;
    font-weight: 900;
    font-family: Segoe UI, Sans Serif;
}
.meta-content {
    color: white;
    padding: 10px;
    margin: auto;
}
.site-footer {
    background-color: rgba(0, 0, 0, 0.747);
    border: 2px solid rgb(58, 58, 62);
    border-radius: 10px;
}
#footer-header {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}
.footer-icons {
    text-align: center;
}
#copyright {
    text-align: right;
    color: #ffff;
    font-weight: bold;
    padding: 0 1em;
}
.fa-square-github, .fa-tiktok {
    font-size: 1.6rem;
    color: white;
}
.fa-discord, .fa-envelope {
    font-size: 1.6rem;
    color: blue;
}
.fa-instagram {
    color: rgb(197, 39, 92);
    font-size: 1.6rem;
}
.fa-telegram {
    color: aqua;
    font-size: 1.6rem;
}
.fa-phone {
    color: green;
    font-size: 1.6rem;
}
.fa-solid:hover {
    transform: scale(1.3);
    transition-duration: 0.8s;
}
.fa-brands:hover {
    transform: scale(1.3);
    transition-duration: 0.8s;
}
.fa-solid, .fa-brands {
    padding: 0.5em 1em;
}