body {
    background-color: rgb(10, 6, 6);
}
.site-header {
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1.2px solid black;
    border-radius: 5px;
    position: sticky;
    top: 0;
}
.logo {
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 1.7rem;
    padding: 10px;
}
.nav-link {
    color: white;
    font-weight: bold;
    padding: 15px;
    text-decoration: none;
}
.nav-link:hover {
    opacity: 0.4;
}
#header {
    color: white;
    text-align: center;
    font-size: 1.8rem;
    font-style: oblique;
    font-family: Segoe UI, Sans Serif;
    text-transform: uppercase;
}
.hero {
    display: flex;
    flex-wrap: wrap;
}
.profile {
    border: 1px solid black;
    width: 400px;
    height: 600px;
    border-radius: 30%;
}
#caption {
    color: white;
    text-align: center;
}
.content {
    display: block;
    width: 700px;
    height: 600px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(46, 46, 53);
    color: white;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    flex-wrap: wrap;
}
.content-meta {
    margin: 0 10px;
    text-align: center;
    font-weight: bold;
    padding: 30px;
    gap: 10px;
}
#about {
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
}
span {
    color: rgb(161, 161, 224);
}
.skills {
    background-color: rgba(0, 0, 0, 0.235);
    border: 2px solid rgba(0, 0, 0, 0.571);
    border-radius: 20px;
    color: white;
}
#skills {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
}
.btn {
    display: flex;
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    gap: 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    padding: 15px;
}
.card {
    display: block;
    width: 250px;
    height: 200px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.61);
    padding: 15px;
    place-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.personal {
    background-color: rgb(21, 13, 15);
    border: 3px solid black;
    border-radius: 20px;
    margin: 10px auto 0;
    padding: 10px;
}
#personal-info {
    text-align: center;
    color: white;
    text-decoration: underline;
}
.info {
    color: white;
    text-align: center;
    padding: 10px;
}
.meta {
    margin: 10px;
}
.meta-header {
    text-align: center;
    color: white;
    font-size: 1.6rem;
    font-weight: 900;
    font-family: Segoe UI, Sans Serif;
}
.meta-content {
    color: white;
    padding: 10px;
    margin: auto;
}
.site-footer {
    background-color: rgb(79, 78, 78);
    border: 1px solid dimgray;
    border-radius: 18px;
}
.footer-content {
    flex-wrap: wrap;
    text-align: center;
}
#footer-header {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}
.fa-square-github, .fa-tiktok {
    color: black;
    font-size: 1.3rem;
    padding: 5px;
}
.fa-discord, .fa-envelope, .fa-telegram {
    color: blue;
    font-size: 1.3rem;
    padding: 5px;
}
.fa-instagram {
    color: red;
    font-size: 1.3rem;
    padding: 5px;
}
.fa-phone {
    color: green;
    font-size: 1.3rem;
    padding: 5px;
}
.fa:hover {
    opacity: 0.4;
}
.fa {
    padding: 5px;
}