* {
    margin: 0;
    padding: 0;
}
body {
    background-color: dimgrey;
}
.site-header {
    padding: 1rem 2rem;
    border: 1px solid dimgray;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    flex-wrap: wrap;
}
.logo {
    height: 80%;
    width: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 0.5rem;

    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}
.logo-name:hover {
    text-decoration: underline;
    cursor: pointer;
}
.icon {
    height: 80%;
    width: auto;
}
.navbar {
    display: flex;
    gap: 2em;
}
.nav-link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    font-family: Segoe UI, Sans Serif;
}
.nav-link:hover {
    text-decoration: underline;
    transform: scale(1.3);
    transition-duration: 0.4s;
    cursor: pointer;
}
.hero {
    background-color: dimgrey;
    border: none;
}
.intro {
    border: none;
    background-color: rgb(80, 79, 79);
    padding: 1em 1em;
}
#hero-head {
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
}
.form-content {
    text-align: center;
    font-weight: bold;
    padding: 1em 1em;
    color: #ffff;
}
.auth-form {
    margin: 2em 20em;
    border: none;
    border-radius: 20px;
    background-color: aquamarine;
    box-shadow: 0 10px 25px 10px rgba(0,0,0,0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form-head {
    text-align: center;
    color: midnightblue;
    padding: 1em 0;
}
.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
label {
    font-weight: bold;
    color: #333;
    padding: 0.3em 0;
}
input {
    width: 40ch;
    height: 3ch;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 0.5em 0;
    margin: 0.5em 0;
}
textarea {
    padding: 0.5em 0.3em;
    width: 50ch;
    height: auto;
    border: 2px solid black;
    border-radius: 20px;
}
.form-actions {
    
}
.decline {
    margin: 1em 1em;
    padding: 0.5em 0.5em;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    color: black;
    background-color: red;
}
.send {
    margin: 1em 1em;
    padding: 0.5em 1em;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    color: #000000;
    background-color: green;
}
.btn:hover {
    opacity: 0.6;
    transform: translateY(-3px);
    transition-duration: 0.4s;
}
.site-footer {
    background-color: rgba(0, 0, 0, 0.747);
    border: none;
}
#footer-header {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    padding: 0.5em 0;
}
.footer-icons {
    text-align: center;
}
#copyright {
    text-align: right;
    color: #ffff;
    font-weight: bold;
    padding: 0 1em;
}
.fa-square-github, .fa-tiktok {
    font-size: 1.6rem;
    color: white;
}
.fa-discord, .fa-envelope {
    font-size: 1.6rem;
    color: blue;
}
.fa-instagram {
    color: rgb(197, 39, 92);
    font-size: 1.6rem;
}
.fa-telegram {
    color: aqua;
    font-size: 1.6rem;
}
.fa-phone {
    color: green;
    font-size: 1.6rem;
}
.fa-solid:hover {
    transform: scale(1.3);
    transition-duration: 0.8s;
}
.fa-brands:hover {
    transform: scale(1.3);
    transition-duration: 0.8s;
}
.fa-solid, .fa-brands {
    padding: 0.5em 0.4em;
}