* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(0, 0, 0, 0.831);
    z-index: -1;
}
.site-header {
    padding: 1rem 2rem;
    border: 1px solid dimgray;
    background-color: dimgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    flex-wrap: wrap;
}
.logo {
    height: 80%;
    width: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 0.5rem;

    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}
.logo-name:hover {
    text-decoration: underline;
    cursor: pointer;
}
.icon {
    height: 80%;
    width: auto;
}
.navbar {
    display: flex;
    gap: 2em;
}
.nav-link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    font-family: Segoe UI, Sans Serif;
}
.nav-link:hover {
    text-decoration: underline;
    transform: scale(1.3);
    transition-duration: 0.4s;
    cursor: pointer;
}