body {
    background-color: #000000c0;
    margin: 0;
    padding: 0;
}
.site-header {
    padding: 1rem 2rem;
    background-color: rgb(27, 27, 27);
    position: sticky;
    top: 0;
    z-index: 1;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
hr {
    width: 85%;
}
.logo {
    font-weight: 900;
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration: none;
}
.nav-bar {
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
}
.nav-link {
    text-decoration: none;
    color: #ffffff;
    padding: 0.3rem 0.7rem;
    font-weight: bold;
}
.nav-link:hover {
    opacity: 0.3;
    transform: scale(1.1);
    transition-duration: 0.4s;
    cursor: pointer;
}
#header {
    text-align: center;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.9rem;
    color: white;
}
#hero-header {
    font-weight: bold;
    text-align: center;
    text-decoration: overline underline;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: rgb(224, 214, 214);

}
.cards {
    display: flex;
    gap: 0.5em;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 48ch;
    background-color: #252020;
    border: 1px solid rgb(44, 41, 41);
    border-radius: 15px;
    padding: 0.5em 0.7em;
}
.card:hover {
    transform: scale(1.06);
    transition-duration: 0.5s;
    cursor: pointer;
}
.card-header {
    text-align: center;
    font-weight: 900;
    font-size: 1.5rem;
    color: rgb(199, 203, 246);
}
.hero-content {
    text-align: center;
    font-weight: bold;
    color: white;
}
.content-header {
    text-align: center;
    color: rgb(27, 17, 218);
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.5rem;
}
.content-meta {
    text-align: center;
    font-weight: bold;
    color: darkorange;
}
.btn {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 0.5em 1em;
}
.btn:hover {
    color: rgb(201, 168, 168);
    transform: scale(1.1);
    transition-duration: 0.5s;
    cursor: pointer;
}
.site-footer {
    background-color: rgba(0, 0, 0, 0.747);
    border: 2px solid rgb(58, 58, 62);
    border-radius: 10px;
}
#footer-header {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}
.footer-icons {
    text-align: center;
}
#copyright {
    text-align: right;
    color: #ffff;
    font-weight: bold;
    padding: 0 1em;
}
.fa-square-github, .fa-tiktok {
    font-size: 1.6rem;
    color: white;
}
.fa-discord, .fa-envelope {
    font-size: 1.6rem;
    color: blue;
}
.fa-instagram {
    color: rgb(197, 39, 92);
    font-size: 1.6rem;
}
.fa-telegram {
    color: aqua;
    font-size: 1.6rem;
}
.fa-phone {
    color: green;
    font-size: 1.6rem;
}
.fa-solid:hover {
    transform: scale(1.6);
    transition-duration: 0.8s;
}
.fa-brands:hover {
    transform: scale(1.6);
    transition-duration: 0.8s;
}
.fa-solid, .fa-brands {
    padding: 0em 0.4em;
}