body {
    background-color: #000000c0;
}
.site-header {
    background-color: rgba(0, 0, 0, 0.646);
    border: 2px solid black;
    border-radius: 20px;
    position: sticky;
    top: 0;
}
.navbar {
    background: rgba(0, 0, 0, 0.749);
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.785);
    border-radius: 20px;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-weight: 900;
    font-size: 1.5rem;
    color: #ffffff;
    margin: 50px;
}
.nav-link {
    padding: 5px;
    border: 1px solid soft #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    text-decoration: none;
    color: black;
    margin-right: 10px;
}
.nav-link:hover {
    opacity: 0.5;
    transform: scale(0.1);
    transition-duration: 0.7s;
}
#header {
    text-align: center;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.9rem;
    color: white;
}
#hero-header {
    font-weight: bold;
    text-align: center;
    text-decoration: overline underline;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: rgb(224, 214, 214);

}
.cards {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.card {
    display: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 400px;
    background-color: #252020;
    border: 1px solid rgb(44, 41, 41);
    border-radius: 15px;
}
.card-header {
    text-align: center;
    font-weight: 900;
    font-size: 1.5rem;
    color: rgb(199, 203, 246);
}
.hero-content {
    text-align: center;
    font-weight: bold;
    color: white;
}
.content-header {
    text-align: center;
    color: rgb(27, 17, 218);
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.5rem;
}
.content-meta {
    text-align: center;
    font-weight: bold;
    color: darkorange;
}
.btn {
    display: block;
    margin: 15px auto 0;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px;
}
.btn:hover {
    opacity: 0.4;
    color: rgb(201, 168, 168);
}
.site-footer {
    background-color: rgba(0, 0, 0, 0.747);
    border: 2px solid rgb(58, 58, 62);
    border-radius: 10px;
}
#footer-header {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin: 1px;
}
.footer-content {
    text-align: center;
    margin: 0;
}
.fa-square-github, .fa-tiktok {
    font-size: 1.6rem;
    color: black;
    padding: 10px;
}
.fa-discord, .fa-envelope {
    font-size: 1.6rem;
    color: blue;
    padding: 10px;
}
.fa-instagram {
    color: rgb(197, 39, 92);
    font-size: 1.6rem;
    padding: 10px;
}
.fa-telegram {
    color: aqua;
    font-size: 1.6rem;
    padding: 10px;
}
.fa-phone {
    color: green;
    font-size: 1.6rem;
    padding: 10px;
}
.footer-meta {
    display: flex;
    justify-content: right;
    text-align: right;
    color: white;
    font-weight: bold;
    padding: 3px;
}