body {
    background-color: rgba(0, 0, 0, 0.767);
    margin: 0;
}
.site-header {
    height: auto;
    border: none;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1;
    top: 0;
}
.logo {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.7rem;
    gap: 0.5em;
    color: blue;
    padding: 0.5em 1em;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}
.nav-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    border: none;
    color: white;
    padding: 0.5em 1em;
}
.nav-link:hover {
    transform: scale(1.18);
    transition-duration: 0.4s;
    cursor: pointer;
}
#header {
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: Segoe UI, Sans Serif;
}
.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 1em;
    column-gap: 0.5em;
    flex-wrap: wrap;
}
.card {
    border: none;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.477);
    flex-wrap: wrap;
    width: 25rem;
    height: 20rem;
}
.card:hover {
    transform: scale(1.03);
    transition-duration: 0.5s;
    cursor: pointer;
}
.card-header {
    font-size: 1.5rem;
    text-align: center;
    color: aqua;
    font-weight: bold;
    font-family: Sugoe UI, Sans Serif;
}
.card-content {
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
}
#content-header {
    font-size: 1.1rem;
    text-align: center;
    color: aquamarine;
}
.list {
    color: white;
    padding: 0 1em;
}
.meta-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.meta-meta {
    height: auto;
    width: 35rem;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
}
.meta-meta:hover {
    transform: scaleX(1.15);
    transition-duration: 0.5s;
}
#meta-header {
    color: white;
    text-align: center;
    font-size: 1.3rem;
    padding: 5px;
    font-weight: bold;
    font-family: Segoe UI, Sans Serif;
    text-transform: uppercase;
}
.lists {
    color: white;
    font-weight: bold;
    padding: 10px;
}
.site-footer {
    background-color: rgba(0, 0, 0, 0.747);
    border: 2px solid rgb(58, 58, 62);
    border-radius: 10px;
}
#footer-header {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin: 1px;
}
.footer-content {
    text-align: center;
    margin: 0;
}
.fa-square-github, .fa-tiktok {
    font-size: 1.6rem;
    color: black;
    padding: 10px;
}
.fa-discord, .fa-envelope {
    font-size: 1.6rem;
    color: blue;
    padding: 10px;
}
.fa-instagram {
    color: rgb(197, 39, 92);
    font-size: 1.6rem;
    padding: 10px;
}
.fa-telegram {
    color: aqua;
    font-size: 1.6rem;
    padding: 10px;
}
.fa-phone {
    color: green;
    font-size: 1.6rem;
    padding: 10px;
}
.footer-meta {
    display: flex;
    justify-content: right;
    text-align: right;
    color: white;
    font-weight: bold;
    padding: 3px;
}
.fa-solid:hover {
    transform: scale(1.6);
    transition-duration: 0.8s;
}
.fa-brands:hover {
    transform: scale(1.6);
    transition-duration: 0.8s;
}